<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" th:replace="base::layout(~{::section})">
   <head>
        <title>Manage Users</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <section>
              
               <div class="container-fluid text-center">

                <div><h2> Manage Products </h2> </div> 
                  <div> <a class="h3 text-decoration-none" th:href="@{/addProduct}" > Add New Product </a> </div>
                <div th:if="${message}" class="alert alert-success text-center">
                    [[${message}]]
                </div>
                  
                  <div class="mt-2"> 
                  <table class="table table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th> ID </th>
                                <th> Name </th>
                                <th> Price </th>
                                <th>Quantity</th>
                                <th> Expired </th>
                                <th> Location</th>
                                <th>Action</th>
                            </tr> 

                        </thead>
                      <tbody>
                            <th:block th:each="product: ${listProducts}" >

                                <tr>
                                    <td>[[${product.id}]]</td>
                                    <td>[[${product.name}]]</td> 
                                    <td>[[${product.price}]]</td> 
                                    <td>[[${product.quantity}]]</td>
                                    <td>[[${product.expired}]]</td> 
                                    <td>[[${product.location}]]</td>
                                     <td> <a class="h4 text-decoration-none" th:href="@{'/product-edit/' +${product.id}}">Edit </a> 
                                        <a class="h4 text-decoration-none" th:href="@{'/product-delete/' +${product.id}}">Delete </a>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                  </table>
                  
                  </div>
                  
               </div>
        </section>
      
    </body>
</html>
