<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" th:replace="base::layout(~{::section})">
   <head>
        <title>Manage Users</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <section>
              
               <div class="container-fluid text-center">

                <div><h2> Manage Sales </h2> </div> 
                  <div> <a class="h3 text-decoration-none" th:href="@{/createTransaction}" > Create Transaction</a> </div>
                <div th:if="${message}" class="alert alert-success text-center">
                    [[${message}]]
                </div>
                  
                  <div class="mt-2"> 
                  <table class="table table-bordered">
                        <thead class="table-dark">
                            <tr>
                                <th> Sales ID </th>
                                <th> Customer ID</th>
                                <th> Product ID </th>
                                <th>Quantity</th>
                                <th> Tax </th> 
                                <th> Total Price </th>
                                
                                <th>Action</th>
                            </tr> 

                        </thead>
                       <tbody>
                            <th:block th:each="sales: ${listSales}" >

                                <tr>
                                    <td>[[${sales.id}]]</td> 
                                    <td>[[${sales.uId}]]</td>
                                    <td>[[${sales.pId}]]</td> 
                                    <td>[[${sales.quantity}]]</td> 
                                    <td>[[${sales.taxAmount}]]</td> 
                                    <td>[[${sales.totalAmount}]]</td> 
                                    
                                    <td> <a class="h4 text-decoration-none" th:href="@{'/sales-edit/' +${sales.id}}">Edit </a> 
                                        <a class="h4 text-decoration-none" th:href="@{'/sales-delete/' +${sales.id}}">Delete </a>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>

                  </table>
                  
                  </div>
                  
               </div>
        </section>
      
    </body>
</html>
